.form-control {
    display: block;
    width: 25%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.navbar-nav {
    width: 100%;
    justify-content: end;
}

.btn {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background: #ff5b00;
    font-size: 10px;
    color: white;
}

.slider {
    color: white;
    width: 100%;
    height: 480px;
    display: flex;
    overflow-x: auto;
    position: relative;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.text_banner {
    position: absolute;
    top: 50%;
}

.full_width {
    width: 90%;
    height: 54px;
    border: 1px solid white;
    border-radius: 4px;
}

.buttom_input {
    position: absolute;
}

.input {
    position: relative;
}

.buttom_input {
    position: absolute;
    top: 5px;
    color: white;
    right: 78px;
    background: #ff5b01;
    width: 135px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.cs_hap_dan_img img {
    width: 356px;
    border-radius: 10px;
}

.cs_hap_dan {
    padding-top: 50px;
}

.cs_hap_dan_title {
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #212121;
}

.item_dich_vu img {
    width: 261px;
}

.item_dich_vu_text span {
    font-size: 12px;
}

.item_dich_vu_text h4 {
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    color: rgb(33, 33, 33);
    font-weight: 500;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-box-align: start;
    -webkit-line-clamp: 2;
}

.item_dich_vu_text {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.item_dich_vu_text .chu_mo {
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    background: #f5f5f5;
    padding: 1px 6px;
    margin-right: 6px;
    max-height: 18px;
    max-width: 47%;
    border-radius: 2px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 7px;
}

.price strong {
    font-size: 14px;
    font-weight: 500;
}

.price {
    padding: 50px 0px 0px 0px;
}

.cs_dich_vu {
    padding-top: 40px;
}

.bnt button {
    min-width: 320px;
    background-color: transparent;
    height: 36px;
    border: 1px solid #4a4a4a;
    border-radius: 6px;
}

.bnt span {
    line-height: 20px;
    font-size: 14px;
    padding: 7px 16px;
}

.bnt {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.item_dich_vu img {
    width: 100%;
}